<div style="border:1px solid red; margin:0.5em; padding: 0.5em;">
    <div>{{vm.name}}</div>
    <div>{{vm.oneWay}}</div>
    <div>{{vm.twoWay}}</div>
    <div>{{vm.oneWayObj}}</div>
    <button ng-click="vm.changeToWord()">vm.changeToWord()</button>
    <button ng-click="vm.changeToNumber()">vm.changeToNumber()</button>
    <button ng-click="vm.toggleObj1()">vm.toggleObj1()</button>
    <button ng-click="vm.toggleObj1Name()">vm.toggleObj1Name()</button>
    <button ng-click="vm.toggleObj1Age()">vm.toggleObj1Age()</button>
</div>